.menu-page-grid {
  @include gridBase();
}

.page-grid {
  @include gridBase();

  @media only screen and (max-width: 56.25em) {
    grid-template-columns:
      [margin-left-start] minmax(3vw, 1fr) [margin-left-end]
      minmax(min-content, 10fr)
      [margin-right-start] minmax(3vw, 1fr) [margin-right-end];
    grid-column-gap: 0;
    grid-template-rows: repeat(3, min-content) 65vh min-content;
  }
}

.paragraphs,
.heading-1 {
  grid-column: margin-left-end / col-end 2;
}

.header {
  grid-column: margin-left-end / col-end 4;
  @media only screen and (max-width: 56.25em) {
    grid-column: margin-left-end/3;
  }
}

.paragraphs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 41.5rem));
  grid-column-gap: 2rem;
  @media only screen and (max-width: 31.25em) {
    grid-column: 2/3;
  }
  &__medium {
    grid-column: 1/-1;
  }
}
